TODO

# IDE - idea
.idea
*.ipr
*.iml
*.iws
out

# IDE - eclipse
.classpath
.project
bin

# gradle
.gradle
.gradle-docker
build

#maven
target

# other
log

# OSX
*.DS_Store
.AppleDouble
.LSOverride

classes
/bin/
